body {
	background: url(http://www.kellylougheed.com/images/backgrounds/lemons.jpg) no-repeat center center fixed; 
  background-size: cover;
	font-family: 'Raleway', arial;
	font-weight: 100;
	letter-spacing: 2px;
	margin: 0;
	color: #333;
}

* {
  box-sizing: border-box;
}

div.container {
  max-width: 800px;
  padding: 15px;
  margin: 0 auto;
  display: table;
  margin-bottom: 50px;
}

div.tr {
  border: 1px solid red;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, .6);
	display: table-row;
}

p.intro {
  padding: 10px 10px 0 10px;
}

div.half {
  width: 50%;
  float: left;
  padding: 10px;
  display: table-cell;
}

p {
  line-height: 25px;
}

.center {
	text-align: center;
}

h1, h2 {
	font-family: 'Poiret One', helvetica;
	font-weight: 100;
	text-align: center;
	margin: 5px 0 10px 0;
}

h1 {
	font-size: 4em;
  color: #ffff66;
  text-shadow: 1px 1px rgba(0,0,0,.5);
}

h2 {
	font-size: 2em;
  color: #777;
  text-shadow: 1px 1px rgba(255,255,255,.5);
}

hr {
	visibility: hidden;
}

input[type="text"], input[type="button"], input[type="submit"], select, textarea, button {
  font-family: 'Raleway', arial;
  letter-spacing: 2px;
  font-size: 1em;
  width: 65%;
  padding: 5px;
  margin-bottom: 2px;
}

input[type="text"], select, textarea, button {
  background: none;
  color: #333;
  border: 1px solid #333;
  border-radius: 5px;
}

input[type="button"], input[type="submit"] {
  color: #ffff66;
  border-radius: 20px;
  text-transform: uppercase;
  border: 2px solid #ffff66;
  background: rgba(0,0,0,.4);
  transition: .5s background;
}

input[type="button"]:hover, input[type="submit"]:hover {
  background: rgba(0,0,0,.6);
  cursor: pointer;
}

textarea {
  width: 85%;
}

select.short {
	width: 25%;
}

select.long {
	width: 50%;
}

a {
	text-decoration: none;
  transition: .5s background;
  color: #333;
	border-bottom: 2px solid #ffff66;
}

a:hover {
	color: #333;
  background-color: #ffff66;
  border-bottom: 2px solid #ffff66;
}

/********** Footer **********/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 20px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1px;
  /* Set the fixed height of the footer here */
  height: 20px;
  background: rgba(0, 0, 0, .5);
  text-align: center;
  font-size: .7em;
  color: #ffff66;
}

.footer a {
  color: #ccc;
  border: none;
}

.footer a:hover {
  color: #fff;
  background: none;
  border: none;
}
/********** Small devices **********/
@media (max-width: 767px) {

  h1 {
    font-size: 2em;
  }

  div.half {
  	width: 100%;
  }

  select.short {
  	width: 25%;
  }

  input[type="text"], input[type="submit"] {
    width: 70%;
  }


}