body {
	background: url("http://www.kellylougheed.com/images/backgrounds/strawberries.jpg") no-repeat center center fixed; 
  background-size: cover;
	font-family: 'Raleway', arial;
	font-weight: 100;
	letter-spacing: 2px;
	margin: 0;
	color: #ffcccc;
}

* {
  box-sizing: border-box;
}

div.light-tint {
	background: rgba(0, 0, 0, .4);
}

div.dark-tint {
  background: rgba(0, 0, 0, .5);
}

div.bg {
	position: fixed; /* Check if this is compatible with mobile devices */
	height: 100%;
	width: 100%;
	margin: 0 auto;
	overflow: auto;
}

div.container {
	max-width: 800px;
	padding: 15px;
	margin: 0 auto;
	display: table;
	margin-bottom: 50px;
}

div.tr {
	display: table-row;
}

div.half {
	width: 50%;
	float: left;
	padding: 10px;
	display: table-cell;
}

p {
  line-height: 25px;
}

div#one {
  border-radius: 10px 0 10px 10px;
}

div#two {
  border-radius: 0 10px 10px 0;
}

.center {
	text-align: center;
}

h1, h2 {
	font-family: 'Poiret One', helvetica;
	font-weight: 100;
	text-align: center;
	margin: 5px 0 0 0;
}

h1 {
	font-size: 4em;
	color: #ff0000;
  text-shadow: 1px 1px rgba(0,0,0,.5);
}

h2 {
	font-size: 2em;
	color: #ff0000;
  text-shadow: 1px 1px rgba(0,0,0,.5);
}

hr {
	visibility: hidden;
}

input[type="text"], input[type="button"], input[type="submit"], select, textarea, button {
  background-color: rgba(255, 255, 255, .1);
  font-family: 'Raleway', arial;
  letter-spacing: 2px;
  font-size: 1em;
  color: #ffcccc;
  border: 1px solid #ffcccc;
  border-radius: 5px;
  width: 65%;
  padding: 5px;
  margin-bottom: 2px;
}

textarea {
  width: 85%;
}

select.short {
	width: 25%;
}

select.long {
	width: 50%;
}

a {
	text-decoration: none;
	color: #ff0000;
}

a:hover {
	color: #ffffff;
}

/********** Footer **********/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 20px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1px;
  /* Set the fixed height of the footer here */
  height: 20px;
  background: rgba(0, 0, 0, .5);
  text-align: center;
  font-size: .7em;
}

/********** Small devices **********/
@media (max-width: 767px) {

  h1 {
    font-size: 2em;
  }

  div.half {
  	width: 100%;
  }

  select.short {
  	width: 25%;
  }

input[type="text"], input[type="submit"] {
  width: 70%;
}


}